<p>Hello,</p>

<p>This is just a reminder that you registered for an account at hcesbuses.com, but never finished setting it up. In order to really be sure that it's you setting up the account under your email, we require that you click on a confirmation link in an email before activating your account.</p>

<p>It's quite possible that the confirmation email went to your junk mail folder, or you otherwise missed it. That's ok, though - this email reminder also contains the link that you'll need to activate your account, and then get to bus-watching!</p>

<p>To confirm your account right now, just <a href="http://hcesbuses.com/users/confirmation?confirmation_token=<%= @user.confirmation_token %>">click this link</a></p>

<p>If you no longer want to use HCESBuses.com, just reply back to me and I'll delete your account, so that you don't get bothered any more!</p>

<p>Thank you,<br />
<br />
H. Wade Minter<br />
HCESBuses.com</p>